build/.ninja_deps
build/.ninja_log
build/autodis
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-fc165eecf685bba99c1e.json
build/.cmake/api/v1/reply/cmakeFiles-v1-dbf308fcf1ac5fff60c8.json
build/.cmake/api/v1/reply/codemodel-v2-f7bd1f2dcc45ccb10d79.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-collector-Debug-f72ceefd7df1fd966c68.json
build/.cmake/api/v1/reply/index-2023-01-08T11-41-39-0463.json
build/.cmake/api/v1/reply/target-autodis-Debug-209bc6d45f50ef20a9c1.json
build/.cmake/api/v1/reply/target-collector-Debug-ce853d9cd02ed38b2fdc.json
build/.cmake/api/v1/reply/toolchains-v1-074db5775ec40502811a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/autodis.dir/cmake_pch.hxx
build/CMakeFiles/autodis.dir/cmake_pch.hxx.cxx
build/collector/cmake_install.cmake
build/collector/collector
build/collector/CMakeFiles/collector.dir/cmake_pch.hxx
build/collector/CMakeFiles/collector.dir/cmake_pch.hxx.cxx
build/collector/CMakeFiles/collector.dir/cmake_pch.hxx.gch
build/collector/CMakeFiles/collector.dir/main.cpp.o
build/collector/CMakeFiles/collector.dir/pch.cpp.o
build/collector/CMakeFiles/collector.dir/feed/finam_daily_file.cpp.o
build/collector/CMakeFiles/collector.dir/source/file.cpp.o
build/custos/cmake_install.cmake
build/keeper/cmake_install.cmake
build/keeper/CMakeFiles/keeper.dir/pch.cpp.o
.vscode/settings.json
.vscode/tasks.json
